In [6]:
import numpy as np
import pandas as pd

In [7]:
# colab으로 실행할 때
# from google.colab import drive
# drive.mount('/content/drive')
# train_df = pd.read_csv('/content/drive/MyDrive/kaggle-study/1/data02/train.csv')
# test_df = pd.read_csv('/content/drive/MyDrive/kaggle-study/1/data02/test.csv')
# submission_df = pd.read_csv('/content/drive/MyDrive/kaggle-study/1/data02/submission_sample.csv')

# jupyter로 실행할 때
train_df = pd.read_csv('./data02/train.csv')
test_df = pd.read_csv('./data02/test.csv')
submission_df = pd.read_csv('./data02/submission_sample.csv')

In [8]:
pd.get_dummies(train_df[['sido']])

,sido_busan,sido_choongbuk,sido_choongnam,sido_daegu,sido_daejeon,sido_gangwon,sido_gwangju,sido_gyeongbuk,sido_gyeonggi,sido_gyeongnam,sido_incheon,sido_jeonbuk,sido_jeonnam,sido_sejong,sido_seoul,sido_ulsan
0,0,0,1,0,0,0,0,0,0,0,0,0,0,0,0,0
1,0,0,0,0,0,0,0,0,0,1,0,0,0,0,0,0
2,0,0,0,0,0,0,0,0,1,0,0,0,0,0,0,0
3,0,0,0,0,0,0,0,0,0,0,1,0,0,0,0,0
4,0,0,0,0,0,0,0,0,0,1,0,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
296,0,0,0,0,0,0,0,0,0,0,0,0,1,0,0,0
297,0,0,1,0,0,0,0,0,0,0,0,0,0,0,0,0
298,0,0,0,0,0,0,0,1,0,0,0,0,0,0,0,0
299,0,0,0,0,0,0,0,0,1,0,0,0,0,0,0,0
300,0,0,0,0,0,0,0,0,0,0,0,0,0,0,1,0

In [9]:
concatenated = pd.concat([train_df, pd.get_dummies(train_df[['sido']])],axis=1)
concatenated

,inst_id,OC,sido,sgg,openDate,bedCount,instkind,revenue1,salescost1,sga1,...,sido_gwangju,sido_gyeongbuk,sido_gyeonggi,sido_gyeongnam,sido_incheon,sido_jeonbuk,sido_jeonnam,sido_sejong,sido_seoul,sido_ulsan
0,1,open,choongnam,73,20071228,175.0,nursing_hospital,4.217530e+09,0.000000e+00,3.961135e+09,...,0,0,0,0,0,0,0,0,0,0
1,3,open,gyeongnam,32,19970401,410.0,general_hospital,NaN,NaN,NaN,...,0,0,0,1,0,0,0,0,0,0
2,4,open,gyeonggi,89,20161228,468.0,nursing_hospital,1.004522e+09,5.154837e+08,4.472197e+08,...,0,0,1,0,0,0,0,0,0,0
3,7,open,incheon,141,20000814,353.0,general_hospital,7.250734e+10,0.000000e+00,7.067740e+10,...,0,0,0,0,1,0,0,0,0,0
4,9,open,gyeongnam,32,20050901,196.0,general_hospital,4.904354e+10,0.000000e+00,4.765605e+10,...,0,0,0,1,0,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
296,422,open,jeonnam,178,20050211,214.0,nursing_hospital,7.614697e+09,4.153475e+08,5.903119e+09,...,0,0,0,0,0,0,1,0,0,0
297,423,close,choongnam,159,20140618,NaN,hospital,6.717144e+09,8.200000e+09,0.000000e+00,...,0,0,0,0,0,0,0,0,0,0
298,426,close,gyeongbuk,107,19830705,NaN,hospital,0.000000e+00,0.000000e+00,5.479428e+07,...,0,1,0,0,0,0,0,0,0,0
299,427,close,gyeonggi,169,20070101,180.0,nursing_hospital,2.116892e+09,2.681748e+08,3.286245e+09,...,0,0,1,0,0,0,0,0,0,0
300,428,open,seoul,79,20011017,NaN,traditional_hospital,1.340971e+09,8.108450e+08,5.043409e+08,...,0,0,0,0,0,0,0,0,1,0

In [10]:
train_df['ownerChange'].value_counts()

same      247
change     42
Name: ownerChange, dtype: int64

In [ ]:
train_df